@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F8F8;
  --font-main: #000;
  --accent-color: #CC3D00;
}

@font-face {
  font-family: 'Nauryzredkeds';
  src: url('/public/fonts/nauryzredkeds-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
  color: var(--font-main);
  background: var(--background);
  font-family: 'Montserrat';
}

h2,h3{
  font-family: 'Nauryzredkeds';
  color: var(--accent-color);
}
